.nav {
  display: flex;
  justify-content: space-between;
}

.nav-items {
  list-style: none;
  display: flex;
  font-size: 20px;
}

.nav-items > li {
  padding: 10px;
}

.nav-logo {
  width: 120px;
}

.main-content {
  padding-left: 25px;
}

.footer {
  padding-left: 25px;
}
