.nav {
  display: flex;
  align-items: center;
  background-color: #21222A;
  height: 90px;
  padding: 30px 25px;
}

.nav-items {
  list-style: none;
  display: flex;
  font-size: 20px;
}

.nav-items > li {
  padding: 10px;
}

.nav-logo {
  width: 80px;
}

.main-content {
  padding-left: 25px;
}

.footer {
  padding-left: 25px;
}
